.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: 100vh;
    width: 70%;
}
    
body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.form-label {
    color: white;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: blue;
    border-color: blue;
    margin-top: 20px;
}

.btn-secondary {
    background-color: gray;
    border-color: gray;
    margin-top: 10px;
}
.form-control {
    color: white;
    border-color: white;
    width: auto;
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    display: inline-block;
}
.input{
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    margin-top: 20px;
}